* {
    margin: 0;
    padding: 0;
}

.gafata-regular {
    font-family: "Gafata", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    display: flex;
    
}

.background-img {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    background-image: url('assets/background image.jpg');
    background-size: cover;
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: repeat; 
    opacity: 0.45; 
    pointer-events: none;
    z-index: -1;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 50px;
    color: #1e1d32;
}

.container h1 {
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: 900;
}

.container h1 img {
    width: 60px;
    padding-right: 10px;
    border-radius: 20%;
    padding: 10px 10px;
    margin-right: 5px;
    z-index: 1;
    
}

.container button img {
    width: 40px;
    margin-right: 8px;
}

.container button {
    display: flex;
    align-items: center;
    color: #460c30; 
    font-size: 16px;
    border-radius:25px;
    border-color: #2aa1ce;
    padding: 10px 20px;
    margin: 15px 0 10px;
    outline: 0;
    cursor: pointer;
}

.input-box {
    position: relative;
    width: 100%;
    max-width: 800px;
    min-height: 150px;
    background: #2aa2ce81;
    color: #333;
    padding: 20px;
    margin: 30px 10px; 
    outline: none;
    border-radius: 5px;
    size: 30px;
}

.input-box img {
    width: 25px;
    position: absolute;
    bottom: 10px;
    right: 15px;
    cursor: pointer;
}